In [1]:
import pandas as pd

# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

# set to default
# pd.reset_option('display.max_rows')
# pd.reset_option('display.max_columns')

# Excel Update Column Names

In [2]:
# open the Excel file
# xls_star = pd.ExcelFile('../Docs/STAR File Documentation.xlsx')
xls_star = pd.ExcelFile('../Docs/optn-star-files-data-dictionary.xlsx')
# get the list of sheet names
xls_star.sheet_names

['Document map',
 'DECEASED_DONOR_DATA',
 'DECEASED_DONOR_DCD_MEASURES',
 'DECEASED_DONOR_INOTROPIC_MEDS',
 'INTESTINE_ADDTL_HLA',
 'INTESTINE_DATA',
 'INTESTINE_FOLLOWUP_DATA',
 'INTESTINE_IMMUNO_DISCHARGE_DATA',
 'INTESTINE_IMMUNO_FOLLOWUP_DATA',
 'INTESTINE_MALIG_FOLLOWUP_DATA',
 'INTESTINE_PRA_CROSSMATCH_DATA',
 'INTESTINE_WLHISTORY_DATA',
 'KIDNEY_FOLLOWUP_DATA',
 'KIDNEY_MALIG_FOLLOWUP_DATA',
 'KIDPAN_ADDTL_HLA',
 'KIDPAN_DATA',
 'KIDPAN_FOLLOWUP_DATA',
 'KIDPAN_IMMUNO_DISCHARGE_DATA',
 'KIDPAN_IMMUNO_FOLLOWUP_DATA',
 'KIDPAN_MALIG_FOLLOWUP_DATA',
 'KIDPAN_PRA_CROSSMATCH_DATA',
 'KIDPAN_WLHISTORY_DATA',
 'LIVER_ADDTL_HLA',
 'LIVER_DATA',
 'LIVER_EXCEPTION_DATA',
 'LIVER_EXPLANT_DATA',
 'LIVER_FOLLOWUP_DATA',
 'LIVER_IMMUNO_DISCHARGE_DATA',
 'LIVER_IMMUNO_FOLLOWUP_DATA',
 'LIVER_MALIG_FOLLOWUP_DATA',
 'LIVER_PRA_CROSSMATCH_DATA',
 'LIVER_WLHISTORY_DATA',
 'LIVING_DONOR_DATA',
 'LIVING_DONOR_FOLLOWUP_DATA',
 'PANCREAS_FOLLOWUP_DATA',
 'PANCREAS_MALIG_FOLLOWUP_DATA',
 'THORACIC_ADDTL_HLA',
 'THORACIC_DATA (2)',
 'THORACIC_DATA',
 'THORACIC_FOLLOWUP_DATA (2)',
 'THORACIC_FOLLOWUP_DATA',
 'THORACIC_IMMUNO_DISCHARGE_DATA',
 'THORACIC_IMMUNO_FOLLOWUP_DATA',
 'THORACIC_LAS_AUDIT_DATA',
 'THORACIC_LAS_HISTORY_DATA',
 'THORACIC_MALIG_FOLLOWUP_DATA',
 'THORACIC_MCS_DEVICE',
 'THORACIC_PRA_CROSSMATCH_DATA',
 'THORACIC_STAT1',
 'THORACIC_STAT1A',
 'THORACIC_STAT1B',
 'THORACIC_STAT2',
 'THORACIC_STAT3',
 'THORACIC_STAT4',
 'THORACIC_WLHISTORY_DATA',
 'VCA_DATA',
 'VCA_FOLLOWUP_DATA',
 'Flatfile Formats']

In [3]:
# Open the workbook
thoratic_star = pd.read_excel('../Docs/optn-star-files-data-dictionary.xlsx',  sheet_name='THORACIC_DATA', header=1)
# thoratic_star = pd.read_excel('../Docs/STAR File Documentation.xlsx',  sheet_name='THORACIC DATA', header=1)
# Open the workbook
donor_star = pd.read_excel('../Docs/optn-star-files-data-dictionary.xlsx',  sheet_name='DECEASED_DONOR_DATA', header=1)
# donor_star = pd.read_excel('../Docs/STAR File Documentation.xlsx',  sheet_name='DECEASED DONOR', header=1)
# open flat file
flat_star = pd.read_excel('../Docs/optn-star-files-data-dictionary.xlsx',  sheet_name='Flatfile Formats', header=1)

In [4]:
# drop unwanted columns
# thoratic_star.drop(['SAS ANALYSIS FORMAT', 'SAS SYSTEM DATA LENGTH','SAS FORMAT'], inplace=True, axis=1)
# display
thoratic_star.sample(5)

,VARIABLE NAME,DESCRIPTION,FORM,VAR START DATE,VAR END DATE,FORM SECTION,DATA TYPE,SAS ANALYSIS FORMAT,COMMENT
365,PO2_DONE_DON,DDR:Lung - Was pO2 done:,DDR,1999-10-25,NaT,ORGAN RECOVERY,CHAR(1),NaN,NaN
173,END_MATCH_LAS,REMOVAL/CURRENT LUNG ALLOCATION SCORE AT MATCH...,CALCULATED,2005-05-04,NaT,NaN,NUM,NaN,NaN
311,LAST_INACT_REASON,Candidate Reason for Last Inactive Status,NaN,NaT,NaT,NaN,NUM,NaN,NaN
261,INHALEDNO_72HOURS,Recipient Inhaled NO at 72 Hours,TRR,2015-03-31,NaT,CLINICAL INFORMATION,CHAR(2),NaN,NaN
356,PERFUSION_LOCATION,TRR LOCATION LUNG(S) PERFUSION OCCURRED AT,TRR,2018-02-28,NaT,TRANSPLANT PROCEDURE CLINICAL INFORMATION,NUM,PERFLOC,NaN

In [5]:
# rename column name dictionary
rename_thoraticStar = {"VARIABLE NAME": "featureName", "DESCRIPTION": "desc", "FORM": "form", \
                  "VAR START DATE": "varStartDate" ,"VAR END DATE": "VarEndDate", "FORM SECTION": "formSection", \
                  "DATA TYPE": "dataType", "SAS ANALYSIS FORMAT": "labelSAS", "COMMENT": "comment"}

# rename columns
thoratic_star.rename(columns=rename_thoraticStar, inplace=True)

# update NaN for Regex search 
thoratic_star = thoratic_star.fillna('Unknown')

# display
thoratic_star.head()

,featureName,desc,form,varStartDate,VarEndDate,formSection,dataType,labelSAS,comment
0,ABN_CONGEN_DON,DDR:Structural Abnormalities //Congenital:,DDR,2004-06-30 00:00:00,Unknown,ORGAN RECOVERY,CHAR(1),Unknown,Unknown
1,ABN_LVH_DON,DDR:Structural Abnormalities //LVH:,DDR,2004-06-30 00:00:00,Unknown,ORGAN RECOVERY,CHAR(1),Unknown,Unknown
2,ABN_VALVES_DON,DDR:Structural Abnormalities //Valves:,DDR,2004-06-30 00:00:00,Unknown,ORGAN RECOVERY,CHAR(1),Unknown,Unknown
3,ABO,RECIPIENT BLOOD GROUP @ REGISTRATION,TCR,1987-10-01 00:00:00,Unknown,CLINICAL INFORMATION,CHAR(3),ABO,Unknown
4,ABO_DON,DONOR BLOOD TYPE,DDR/LDR,1987-10-01 00:00:00,Unknown,DONOR INFORMATION,CHAR(3),ABO,Unknown

### Flat File

In [6]:
flat_star.head()

,SASAnalysis Format,Data Field Value,Data Field Formatted Value,Data Type
0,ABNBRONC,Null or Missing,Not Reported ...,N
1,ABNBRONC,1,No Bronchoscopy ...,N
2,ABNBRONC,2,Bronchoscopy Results normal ...,N
3,ABNBRONC,3,"Bronchoscopy Results, Abnormal-purulent secret...",N
4,ABNBRONC,4,"Bronchoscopy Results, Abnormal-aspiration of f...",N

In [7]:
# rename column name dictionary
rename_flat = {'SASAnalysis Format': 'SASAnalysisFormat', 'Data Field Value':'DataFieldValue', \
               'Data Field Formatted Value':'DataFieldFormattedValue','Data Type':'DataType'}

# rename columns
flat_star.rename(columns=rename_flat, inplace=True)

# display
flat_star.head()

,SASAnalysisFormat,DataFieldValue,DataFieldFormattedValue,DataType
0,ABNBRONC,Null or Missing,Not Reported ...,N
1,ABNBRONC,1,No Bronchoscopy ...,N
2,ABNBRONC,2,Bronchoscopy Results normal ...,N
3,ABNBRONC,3,"Bronchoscopy Results, Abnormal-purulent secret...",N
4,ABNBRONC,4,"Bronchoscopy Results, Abnormal-aspiration of f...",N

In [8]:
flat_star.isna().sum()

SASAnalysisFormat          0
DataFieldValue             1
DataFieldFormattedValue    0
DataType                   0
dtype: int64

In [9]:
def write_csv(df, filename):
    """
    write dataframe to disk
    """
    # intialize variable
    file_path = '../Data/' + filename
    
    # write to disk
    df.to_csv(file_path, index=False)
    
    return print(f"{len(df):,} records written to {file_path}.")

In [10]:
# write out csv file
filename = 'thoraticColumnNames.csv'
write_csv(thoratic_star, filename)

# flat file
filename = 'flatfile.csv'
write_csv(flat_star, filename)

530 records written to ../Data/thoraticColumnNames.csv.
39,057 records written to ../Data/flatfile.csv.